body {
  width: 100%;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*http://www.colourlovers.com/palette/443995/i_demand_a_pancake*/
.join-us {
  display: inline;
  float: left;
  width: 460px;
  margin: 0 10px;
  background-color: pink;
}
.join-us h2 {
  text-align: left;
  text-shadow: 1px 1px 3px #888;
  color: #1669a1;
}
