@import "grid.less";
/*http://www.colourlovers.com/palette/443995/i_demand_a_pancake*/
header {
  position: relative;
  float: left;
}
header h3 {
  position: absolute;
  font-size: 30px;
  width: 50px;
  line-height: 1.1;
}
header #ceo {
  top: 10px;
  left: 93px;
}
header #accounts {
  top: 30px;
  left: 537px;
  font-size: 18px;
  text-align: center;
}
header #captain {
  top: 98px;
  right: 188px;
  font-size: 18px;
  text-align: center;
}
header #dream {
  bottom: 50px;
  right: 354px;
}
.message {
  font-size: 34px;
  line-height: 1.1;
  margin: 0 0 20px 55px;
  text-shadow: 1px 1px 3px #888;
}
body {
  width: 100%;
  *zoom: 1;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.nav-boxes {
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px;
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px;
  height: 150px;
  background: white;
  border: solid 4px;
  border-color: #dedede;
}
.nav-boxes, .box_shadow {
  -webkit-box-shadow: 0px 0px 12px 0px #dedede;
  /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */

  -moz-box-shadow: 0px 0px 12px 0px #dedede;
  /* FF3.5 - 3.6 */

  box-shadow: 0px 0px 12px 0px #dedede;
  /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */

}
.nav-boxes, .box_round {
  -webkit-border-radius: 12px;
  /* Saf3-4, iOS 1-3.2, Android ≤1.6 */

  -moz-border-radius: 12px;
  /* FF1-3.6 */

  border-radius: 12px;
  /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-boxes {
  position: relative;
}
.nav-boxes .services, .nav-boxes .clients, .nav-boxes .about {
  display: inline;
  float: left;
  width: 300px;
  margin: 0 10px;
  display: inline;
  float: left;
  width: 300px;
  margin: 0 10px;
  border-right: 4px solid;
  height: 150px;
  border-color: #dedede;
}
.nav-boxes .services a, .nav-boxes .clients a, .nav-boxes .about a {
  color: pink;
}
.nav-boxes .clients {
  border: none;
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
}
.nav-boxes div {
  position: absolute;
  bottom: 20px;
  color: blue;
}
body {
  width: 100%;
  *zoom: 1;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*http://www.colourlovers.com/palette/443995/i_demand_a_pancake*/
.join-us {
  display: inline;
  float: left;
  width: 460px;
  margin: 0 10px;
  display: inline;
  float: left;
  width: 460px;
  margin: 0 10px;
  background-color: pink;
}
.join-us h2 {
  text-align: left;
  text-shadow: 1px 1px 3px #888;
  color: #1669a1;
}
body {
  width: 960px;
  margin: 0 auto;
}
h1 {
  color: #1669a1;
}
nav {
  width: 960px;
  height: 50px;
  float: left;
  background: #594f4f;
  background: -webkit-linear-gradient(90deg, #594f4f, #000000);
  background: -moz-linear-gradient(90deg, #594f4f, #000000);
  background: -o-linear-gradient(90deg, #594f4f, #000000);
}
ul.nav {
  float: left;
  display: block;
  padding-top: .15em;
  list-style: none;
  width: 960px;
}
ul.nav li {
  float: left;
  display: inline;
  margin-right: 20px;
}
ul.nav a {
  color: #1669a1;
  text-decoration: none;
}
header h1 {
  position: absolute;
  top: 40px;
  left: 15px;
  width: 350px;
}
.main {
  xbackground: #e5fcc2;
  xbackground-image: -moz-radial-gradient(25% 30%, #c0c0c0, #e5fcc2);
  xbackground-image: -ms-radial-gradient(25% 30%, #c0c0c0, #e5fcc2);
  xbackground-image: -o-radial-gradient(25% 30%, #c0c0c0, #e5fcc2);
  xbackground-image: -webkit-radial-gradient(25% 30%, #c0c0c0, #e5fcc2);
  xbackground-image: radial-gradient(25% 30%, #c0c0c0, #e5fcc2);
  xbackground-repeat: no-repeat;
  position: relative;
  float: left;
}
.main p {
  color: black;
}
.left-column {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
}
.center-column {
  display: inline;
  float: left;
  width: 460px;
  margin: 0 10px;
  display: inline;
  float: left;
  width: 460px;
  margin: 0 10px;
}
.right-column {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
}
