@import "bootstrap/buttons.less"
@import "grid.less";
@import "constants.less";
@import "header.less";




@import "homepage-buttons.less";
@import "joinUs.less";


body{
	width: @totalWidth;
	margin: 0 auto;
}

h1{
	color: @textColor;
}

nav{
	width: @totalWidth;
	height: 50px;
	float: left;
	background: @darkGradient;
	background: -webkit-linear-gradient(90deg, @darkGradient, @lightGradient);
	background: -moz-linear-gradient(90deg, @darkGradient, @lightGradient);
	background: -o-linear-gradient(90deg, @darkGradient, @lightGradient);
}
ul.nav{
	float: left;
	display: block;
	padding-top: .15em;
	list-style: none;
	width: @totalWidth;
}
ul.nav li{
	float: left;
	display: inline;
	margin-right: 20px;
}
ul.nav a{
	color: @textColor;
	text-decoration: none;
}

header h1{
	position: absolute;
	top: 40px;
	left: 15px;
	width: 350px;
}


.main{
	xbackground: @backgroundColor ;
	xbackground-image: -moz-radial-gradient(25% 30%, silver, @backgroundColor);
	xbackground-image: -ms-radial-gradient(25% 30%, silver, @backgroundColor);
	xbackground-image: -o-radial-gradient(25% 30%, silver, @backgroundColor);
	xbackground-image: -webkit-radial-gradient(25% 30%, silver, @backgroundColor);
	xbackground-image: radial-gradient(25% 30%, silver, @backgroundColor);
	xbackground-repeat: no-repeat;
	position: relative;
	float: left;
}

.main p{
	color: black;
}

.left-column {
   .column(3);
}
.center-column {
   .column(6);
}
.right-column{
	.column(3);
}









