
@import "mixins.less";
@import "grid.less";
@import "constants.less";
@import "header.less";

@import "homepage-buttons.less";
@import "homepage-form.less";
@import "joinUs.less";


body{
	width: @totalWidth;
	margin: 0 auto;
	font-size: 16px;
}

h1{
	color: @textColor;
}

nav{
	xwidth: @totalWidth;
	height: 50px;
	float: left;
	background: @darkGradient;
	background: -webkit-linear-gradient(90deg, @darkGradient, @lightGradient);
	background: -moz-linear-gradient(90deg, @darkGradient, @lightGradient);
	background: -o-linear-gradient(90deg, @darkGradient, @lightGradient);
}
.navbar .nav{
	width: 650px;
}
ul.nav{
	float: left;
	display: block;
	padding-top: .15em;
	list-style: none;
	width: @totalWidth;
}
ul.nav li{
	float: left;
	display: inline;
	margin-right: 20px;
}
ul.nav a{
	color: @textColor;
	text-decoration: none;
}

header h1{
	position: absolute;
	top: 40px;
	left: 15px;
	width: 350px;
}

body{
	background: @backgroundColor ;
	background-image: -moz-radial-gradient(25% 30%, silver, @backgroundColor);
	background-image: -ms-radial-gradient(25% 30%, silver, @backgroundColor);
	background-image: -o-radial-gradient(25% 30%, silver, @backgroundColor);
	background-image: -webkit-radial-gradient(25% 30%, silver, @backgroundColor);
	background-image: radial-gradient(25% 30%, silver, @backgroundColor);
	background-repeat: no-repeat;
}

body.no-cssgradients{
	background: #787878 ;
}

.main{
	xbackground: @backgroundColor ;
	xbackground-image: -moz-radial-gradient(25% 30%, silver, @backgroundColor);
	xbackground-image: -ms-radial-gradient(25% 30%, silver, @backgroundColor);
	xbackground-image: -o-radial-gradient(25% 30%, silver, @backgroundColor);
	xbackground-image: -webkit-radial-gradient(25% 30%, silver, @backgroundColor);
	xbackground-image: radial-gradient(25% 30%, silver, @backgroundColor);
	xbackground-repeat: no-repeat;
	position: relative;
	float: left;
}

.main p{
	color: black;
}

@borderColor: #dedede;
.contents{
	background-color: white;
	.clearfix();
	border: solid 3px;
	border-color: @borderColor;
	margin-bottom: 30px;
	padding-bottom: 20px;
	
	h2{
		text-shadow: 1px 1px 3px #888;
	}

}

.city{
	background-image: url('../img/city.jpg');
	height: 95px;
	margin-top: 70px;
	margin-bottom: 20px;
}
h1.candidate{
	font-size: 30px;
	margin-left:25px;
}

.container .extra-info{
	.column(12);

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: rgba(15, 15, 15, .5);

	padding: 15px;
	margin-bottom: 30px;
	margin-left: 0px;
	maring-right: 0px;
	width: 910px;

	h2{
	   color: #f8d233;
	}

	.persons-name{
		margin-left: 10px;
		font-weight: bold;		
	}

    form.contact-info{
		float: left;
		.column(4);
		margin-left: 0px;

		h2{
			color: white;
		}
		label{
			color: #F2F0DF
		}
		input[type=file]{
			color:pink;

		}
		button{
		   float:right;
		   margin-top: 15px;
		   margin-right: 80px;
		}
	}
	
}


.left-column {
   .column(3);
}
.center-column {
   .column(6);
}
.right-column{
	.column(3);
}


/* ============================================================================================================================
== BLOCKQUOTE WITH OBTUSE TRIANGLE
** ============================================================================================================================ */

.quote {
	position:relative;
	padding:15px 30px;
	margin:0;
	color:#000;
	background:#f3961c; /* default background for browsers without gradient support */
	/* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
	background:-moz-linear-gradient(#f9d835, #f3961c);
	background:-o-linear-gradient(#f9d835, #f3961c);
	background:linear-gradient(#f9d835, #f3961c);
	/* Using longhand to avoid inconsistencies between Safari 4 and Chrome 4 */
	-webkit-border-top-left-radius:25px 50px;
	-webkit-border-top-right-radius:25px 50px;
	-webkit-border-bottom-right-radius:25px 50px;
	-webkit-border-bottom-left-radius:25px 50px;
	-moz-border-radius:25px / 50px;	
	border:none;
	.column(6);

}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.quote + p {margin:10px 150px 2em 0; text-align:right; font-style:italic;}

/* creates the larger triangle */
.quote:before {
	content:"";
	position:absolute;
	bottom:-30px;
	right:80px;
	border-width:0 0 30px 50px;
	border-style:solid;
	border-color:transparent #f3961c;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* creates the smaller triangle */
.quote:after {
	content:"";
	position:absolute;
	bottom:-30px;
	right:110px; 
	border-width:0 0 30px 20px;
	border-style:solid;
	border-color: transparent #353535;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

.second-quote{
	margin-top: 50px;
}

