body {
  width: 100%;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  padding-top: 20px;
  padding-bottom: 40px;
  max-width: 960px;
  margin: 0 auto;
}
header h1 {
  position: absolute;
  top: 40px;
  left: 15px;
  width: 350px;
}
.main {
  background: #5A5A5A ;
  background-image: -moz-radial-gradient(25% 30%, #c0c0c0, #000000);
  background-image: -ms-radial-gradient(25% 30%, #c0c0c0, #000000);
  background-image: -o-radial-gradient(25% 30%, #c0c0c0, #000000);
  background-image: -webkit-radial-gradient(25% 30%, #c0c0c0, #000000);
  background-image: radial-gradient(25% 30%, #c0c0c0, #000000);
  background-repeat: no-repeat;
  position: relative;
  float: left;
}
.left-column {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
}
.center-column {
  display: inline;
  float: left;
  width: 460px;
  margin: 0 10px;
}
.right-column {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
}
